html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}
/* HEADER */
header {
 width: 100%;
 height: 4rem;
 justify-content: space-between;
 align-items: center;
 background-color: white;
 position: fixed;
 top: 0;
 z-index: 100;
 border-bottom: 0.0625rem solid #f1f1f1;
}

.logo {
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

nav {
  padding-right: 0.5rem;
}

nav a {
  padding-right: 1rem;
  text-decoration: none;
  color: black;
}

nav a:active {
  opacity: 0.6;
}

@media only screen and (min-width:480px) {
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width:480px) {
  .logo span {
    display: none;
  }
  nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
  }

}

/* CONTAINER */

.container {
  max-width: 60rem;
  margin: auto;
  position: relative;
}

/* BANNER */
.banner {
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
}
.banner:hover {
  background-color: #fafafa;
}

.student {
  padding: 2rem 1.5rem;
  width: 60%;
  height: auto;
  overflow: hidden;
}

.student img {
  max-width: 100%;
  height: auto;
  display: block;
}

.description {
  width: 40%;
  padding-right: 1.5rem;
}

.button {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 2rem;
}

.button h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  color: #3393FF;
}

.button h4, .item p, .item a, .item h3 {
  padding-bottom: 0.5rem;
}

.button a {
  background-color: #3393FF;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  width: 100%;
  color: white;
  text-decoration: none;
}
.button a:hover {
  opacity: 0.8;
}

@media only screen and (max-width:480px) {
  .banner {
    flex-direction: column;
  }

  .descr {
    width: 100%;
  }

  .button {
    width: 100%;
    padding-left: 1rem;
  }
}

/* CONTENT */
.content {
  width: 100%;
  align-items: flex-start;
}

.content:hover {
  background-color: #fafafa;
}

.student h2 {
  padding-top: 2rem;
}

.student p {
  padding-top: 1.5rem;
  opacity: 0.8;
  padding-bottom: 2rem;
}

.student span {
  font-size: 0.8rem;
}

@media only screen and (max-width:480px) {
  .content .student {
    display: none;
  }
}

/* INFO BAR */
.info, .info2 {
  width: 40%;
  border-left: solid 0.0625rem #e9e9e9;
  padding-top: 2rem;
  padding-right: 0.5rem;
}
.item {
  display: flex;
  align-items: center;
  width: 100%;
}

.item:hover {
  background-color: #F0F8FF;
}

.item img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.text {
  width: 65%;
}

.text a {
  color: #3393FF;
  text-decoration: none;
}

.text a:active {
  color: #C9DDFF;
  text-decoration: underline;
}

@media only screen and (max-width:480px) {
  .info {
    width: 100%;
  }
  .item {
    flex-direction: column;
    width: 100%;
  }
  .item img {
    width: 100%;
  }
}


/* COURSES CATALOG */
.title {
  padding-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.catalog {
  padding: 2rem 4.5rem;
  flex-wrap: wrap;
}

.section:hover {
  background-color: #fafafa;
}

.course {
  width: 25%;
  align-items: baseline;
  display: inline-block;
  flex-grow: 1;
  margin-left: 2rem;
  margin-bottom: 2rem;
  line-height: 1rem;
  overflow: hidden;
  background-color: white;
  border: 0.0125rem solid #f1f1f1;
}

.course:hover {
  background-color: #F0F8FF;
  opacity: 0.8;
}

.course img {
  height: auto;
  width: 100%;
  display: block;
}
.detail {
  padding: 1rem 1rem 1.5rem 1rem;
}
.detail p {
  padding-top: 0.5rem;
}
@media only screen and (max-width:480px) {

  .catalog {
    flex-flow: column nowrap;
  }
  .title {
   margin-bottom: 1rem;
  }
  .course {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  .detail {
    padding: 1rem 2rem 1rem;
  }

  .course img, .detail p {
    display: none
  }
}

/* THESIS EXHIBIT */
.video {
  padding: 2rem 1.5rem 1.5rem;
  width: 60%;
  height: auto;
  overflow: hidden;
}

.video h3 {
  padding-top: 2rem;
}

.video p {
  padding-top: 0.5rem;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

@media only screen and (max-width:480px) {
  .content {
    flex-direction: column;
  }
  .video h3, .video p {
    display: none;
  }
  .video {
    width: 100%;
  }

  .info2 {
    display: none;
  }

}

/* FOOTER */
footer {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 4rem;
  border-top: 0.0625rem solid #f1f1f1;
}

footer span{
  font-size: 0.7rem;
  letter-spacing: 0.0625rem;
  opacity: 0.6;
}
.copyright, .terms {
  margin-top: 1rem;
}

.terms:hover {
  opacity: 0.8;
}

.copyright {
  padding-left: 2rem;
}
.terms {
  padding-right: 1rem;
}
.terms span{
padding-right: 0.5rem;
}

@media only screen and (max-width:480px) {

footer {
  border-top: none;
  padding: 1rem 1rem;
}

  .terms {
    display: none;
  }
}
